@import "/src/variables.scss";

.point {
  position: absolute;
  width: 1px !important;
  height: 24px !important;
  display: flex;
  align-items: center;
  z-index: 40;

  .point-input {
    width: 100px;
    height: 30px;
    font-size: 1.5rem;
    padding-left: 4px;
    color: $secondary-color-400;
    border-radius: 20px;
    &:hover,
    &:active {
      transform: scale(1.1);
      transition-duration: 0.2s;
      background-color: white;
      border: 1px solid;
      border-color: $secondary-color-100;
    }
    &:read-only {
      &:hover {
        transform: none;
        background-color: transparent;
        border-color: transparent;
        transition: none;
        cursor: default;
      }
    }
  }
  .long {
    width: 120px;
  }
  button {
    position: absolute;
    right: 0;
    display: none;
    background-color: gray;
    color: white;
    border-radius: 50%;
    padding: 0 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:hover {
      display: block;
    }
  }
  // .point에 hover했을때
  &:hover {
    button {
      display: block;
      z-index: 50;
    }
  }
}
