@import "../../variables.scss";
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 2rem;
  height: 50dvh;
}
.back-button {
  background-color: $primary-color-300;
  color: white;
  padding: 12px;
  border-radius: 12px;
}
