.graph-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .graph {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 20dvw;
    border-left: 1px solid;
    border-color: gray;
  }
  #graph-upper {
    border-bottom: 1px solid;
    border-color: gray;
  }
}
