@import "/src/variables.scss";

.controller-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 1px solid $secondary-color-100;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
  .control {
    cursor: pointer;
  }
  label {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  @media (max-width: $tablet) {
    justify-content: flex-start;
    padding: 8px 12px;
    font-size: 1.2rem;
  }
}
