@import "../../variables.scss";

.result-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
  max-width: $desktop;
  margin: 0 auto;
  @media (max-width: $mobile) {
    gap: 8px;
  }
  #title {
    padding-top: 20px;
    font-size: 3rem;
    font-weight: 700;
    color: $primary-color-400;
  }
  .result-border {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .result-title {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    @media (max-width: $mobile) {
      font-size: 1.6rem;
    }
  }
  #result-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      background-color: $primary-color-300;
      color: white;
      height: 40px;
      border-radius: 8px;
      padding: 12px;
      cursor: pointer;
      transition: background-color 0.1s ease;
      &:hover {
        background-color: $primary-color-400;
      }
      @media (max-width: $tablet) {
        font-size: 1.4rem;
      }
    }
    #back-button {
      border: 1px solid;
      border-color: $secondary-color-200;
      background-color: $background;
      color: $secondary-color-400;
      height: 40px;
      padding: 8px;
      &:hover {
        background-color: $secondary-color-100;
      }
    }
    div {
      display: flex;
      gap: 8px;
      @media (max-width: $mobile) {
      }
      @media (max-width: $tablet) {
        justify-content: space-between;
      }
    }
  }
}
