.graph-container {
  div {
    background-color: rgba(255, 255, 255, 0.6);
    width: 600px;
    height: 300px;
    border-left: 1px solid;
    border-color: gray;
  }
  .graph-upper {
    border-bottom: 1px solid;
    border-color: gray;
  }
}
