@import "../../variables.scss";
.result-title {
  font-weight: 600;
  font-size: 2rem;
  @media (max-width: $mobile) {
    font-size: 1.6rem;
  }
}
#result-button-wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  button {
    background-color: $primary-color-300;
    color: white;
    font-size: 1.8rem;
    height: 50px;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    @media (max-width: $mobile) {
      padding: 8px;
      font-size: 1.4rem;
    }
  }
  div {
    display: flex;
    gap: 20px;
  }
}
