@import "../../variables.scss";
.result-title {
  font-weight: 600;
  font-size: 20px;
}
#result-button-wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  button {
    background-color: $primary-color-300;
    color: white;
    font-size: 18px;
    height: 50px;
    border-radius: 20px;
    padding: 12px;
  }
  div {
    display: flex;
    gap: 20px;
  }
}
