@import "../../variables.scss";

.home-main {
  max-width: $width-desktop;
  width: 40%;
  margin: 20px auto;

  @media (max-width: $mobile) {
    max-width: $width-mobile;
  }
}

.border {
  height: 40dvh;
  position: relative;
  border: 1px solid;
  border-color: $secondary-color-100;
  background-color: $background;
  border-radius: 8px;
  padding: 20px;
  margin: 0 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: $mobile) {
    font-size: 1.4rem;
  }
}
.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  #title {
    padding-top: 60px;
    font-size: 3rem;
    font-weight: 700;
    color: $primary-color-400;
  }
  #subtitle {
    color: $secondary-color-400;
  }
  form {
    div {
      width: 90%;
    }
    label {
      font-weight: 500;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 12px 0;
    }
    input {
      background-color: white;
      border: 1px solid;
      border-color: $secondary-color-100;
      height: 40px;
      width: full;
      padding: 8px 12px;
      margin: 4px 0;
      border-radius: 8px;
      font-size: 1.6rem;
    }

    .error {
      font-size: 1.3rem;
      padding: 4px;
      color: red;
      height: 1.3rem;
    }

    button {
      background-color: $primary-color-300;
      padding: 12px;
      width: 100%;
      color: white;
      border-radius: 8px;
      font-size: 1.6rem;
      margin: 8px 0;
      cursor: pointer;

      &:hover {
        background-color: $primary-color-400;
        transition: background-color 0.1s ease;
      }

      &:disabled {
        background-color: $primary-color-200;
        cursor: not-allowed;
      }
    }
  }
}
span {
  color: gray;
  font-size: 1.4rem;
}
