.point {
  position: absolute;
  width: 1px !important;
  height: 24px !important;
  display: flex;
  align-items: center;

  .point-input {
    width: 80px;
    height: 30px;
    font-size: 1.6rem;
    color: black;
    &:hover,
    &:active {
      transform: scale(1.2);
      transition-duration: 0.5s;
      background-color: white;
      border-radius: 20px;
    }
  }
  .mid {
    width: 140px;
  }
  .long {
    width: 200px;
  }
  button {
    display: none;
    background-color: gray;
    color: white;
    border-radius: 50%;
    padding: 0 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:hover {
      display: block;
    }
  }
  // .point에 hover했을때
  &:hover {
    button {
      display: block;
      z-index: 50;
    }
  }
}
