.point {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;

  .point-input {
    width: 50px;
    height: 24px;
    font-size: 16px;
    border-radius: 50%;
  }
  button {
    display: none;
    background-color: gray;
    color: white;
    border-radius: 50%;
    padding: 0 8px;
    width: 24px;
    height: 24px;
    &:hover {
      display: block;
    }
  }
  // .point에 hover했을때
  &:hover {
    button {
      display: block;
    }
  }
}
