@import "../variables";
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: linear-gradient(to right, $secondary-color-200, $primary-color-200); /* 좌측에서 우측으로 그라데이션 */
  padding: 20px;
}
