@import "../../variables.scss";

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 90%;
  max-width: $desktop;
  margin: 0 auto;
  @media (max-width: $mobile) {
    font-size: 1.4rem;
    padding: 0;
    gap: 8px;
  }
  #title {
    padding-top: 20px;
    font-size: 3rem;
    font-weight: 700;
    color: $primary-color-400;
    @media (max-width: $mobile) {
      font-size: 2rem;
    }
  }
  #subtitle {
    color: $secondary-color-400;
  }
  .description {
    background-color: rgba(227, 227, 227, 0.5);
    border: 1px solid;
    border-color: $secondary-color-100;
    border-radius: 8px;
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 20px;
    list-style: disc;
    line-height: 150%;

    @media (max-width: $mobile) {
      font-size: 1.2rem;
    }

    cursor: pointer;
    button {
      display: flex;
      align-items: center;
      color: $secondary-color-300;
      font-size: 1.2rem;
    }
    .hidden {
      display: none;
    }

    li {
      display: flex;
      align-items: center;
      margin: 0;
      &::before {
        content: "•";
      }
      &:first-child {
        margin-top: 4px;
      }
    }

    @media (max-width: $mobile) {
      padding: 8px 12px;
    }
  }
  .main-border {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  #guide {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: 30;
    padding: 12px;
    color: white;
  }

  #button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: $mobile) {
      align-items: center;
      gap: 8px;
    }
    .button {
      font-size: 1.6rem;
      border-radius: 8px;
      padding: 12px 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      transition: background-color 0.3s ease;

      @media (max-width: $mobile) {
        font-size: 1.4rem;
        width: 100%;
      }
    }
    .flex-row {
      display: flex;
      gap: 4px;
      button {
        border: 1px solid;
        border-color: $secondary-color-200;
        background-color: $background;
        color: $secondary-color-400;
        height: 40px;
        padding: 4px 12px;
        &:hover {
          background-color: $secondary-color-100;
        }
        &:disabled {
          background-color: $secondary-color-200;
          cursor: not-allowed;
          color: white;
        }
      }
    }
    .generate {
      background-color: $primary-color-300;
      color: $background;
      height: 40px;
      width: 280px;
      font-weight: 500;
      &:hover {
        background-color: $primary-color-400;
      }
      &:disabled {
        background-color: $primary-color-200;
        cursor: not-allowed;
      }
      @media (max-width: $mobile) {
        width: 50%;
      }
    }
  }
}
