@import "../../variables.scss";
footer {
  padding: 40px;
  padding-bottom: 8px;
  width: 100%;
  gap: 20px;
  color: rgba($color: #808080, $alpha: 0.7);
  font-size: 1rem;
  @media (max-width: $mobile) {
    padding: 20px;
    padding-bottom: 8px;
  }
  address {
    display: flex;
    gap: 4px;
    font-style: normal;
  }
}
