@import "./variables";
@import "./reset";

/* 전체 페이지의 스크롤 스타일 */
* {
  scrollbar-width: thin; /* Firefox용 */
  scrollbar-color: $primary-color-100 #f1f1f1; /* Firefox용 */
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color-100;
  border-radius: 9999px;
  width: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $primary-color-200;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  background-color: $background;
  color: $secondary-color-400;
}

//Header, Footer 내부 nav 공통 스타일
nav {
  max-width: $width-desktop;
  @media (max-width: $mobile) {
    max-width: $width-mobile;
  }
}
