// 색상
$background: #fff;
$primary-color-100: #d0dffa;
$primary-color-200: #94b9ff;
$primary-color-300: #4e7fdb;
$primary-color-400: #2668e2;
$secondary-color-100: #d9d9d9;
$secondary-color-200: #b1b1b1;
$secondary-color-300: #7d7d7d;
$secondary-color-400: #323232;
$point-color: rgb(0, 14, 106);

// 반응형 너비
$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;

// 컨테이너 너비
$width-desktop: 480px;
$width-mobile: 360px;
