// 색상
$primary-color-100: #d0dffa;
$primary-color-200: #94b9ff;
$primary-color-300: #4e7fdb;
$secondary-color-100: #f0fcf3;
$secondary-color-200: #cdffd8;
$secondary-color-300: #97f1aa;

// 반응형 너비
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// 컨테이너 너비
$width-desktop: 900px;
$width-mobile: 360px;
