.x-unit {
  color: gray;
}
.graph-divider {
  height: 1px;
  width: 100%;
  position: absolute;
  border: 0.5px solid gray;
  top: 50%;
  transform: translateY(-50%); /* 중앙 정렬 */
  display: flex;
  justify-content: space-between;
}
